:root {
    --primary-bg-color: #9494ca;
    --input-bg-color: white;
    --border-color: black;
    --font-family: 'Arial';
}

body {
    background-color: var(--primary-bg-color);
}

h1 {
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-family: var(--font-family);
}

input, textarea {
    background-color: var(--input-bg-color);
    width: 75%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    margin-bottom: 20px;
    font-family: var(--font-family);
}

input:focus-within, textarea:focus-within {
    outline: none;
    border-width: 5px;
}

button {
    background-color: var(--input-bg-color);
    font-size: 22px;
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin: auto;
    display: flex;
    text-align: center;
}

button:hover {
    opacity: 80%;
    cursor: pointer;
}
